<%- include('../partials/header')%>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Editar Produto</h1>
                <form action="/editarProduto" method="POST">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" id="nome" name="nome_produto" value="<%=item.nome_produto%>">
                    </div>
                    <div class="form-group">
                        <label for="quantidade">Quantidade em estoque</label>
                        <input type="number" class="form-control" id="quantidade" name="quantidade" value="<%=item.quantidade%>">
                    </div>
                    <!-- <div class="form-group">
                    <label for="data_validade">Data de validade</label>
                    <input type="date" class="form-control" id="data_validade" name="data_validade">
                </div> -->
                    <div class="form-group">
                        <label for="valor_unitario">Preço Unitário</label>
                        <input type="number" class="form-control" id="valor_unitario" name="valor_unitario" value="<%=item.valor_unitario%>">
                    </div>
                    <input type="hidden" name="id_produto" value="<%= item.id_produto %>">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
    <%- include("../partials/footer")%>