<%- include('../partials/header')%>

    <section class="container">
        <div class="row">
            <div class="col">
                <div class="row mt-5">
                    <div class="col-6">
                        <h1>Produtos</h1>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-primary" href="/cadastrarProduto">Inserir novo produtos</a>
                        <a href="/" class="btn btn-success">Voltar</a>

                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome do Produto</th>
                            <th>Quantidade em estoque</th>
                            <th>Valor unitário</th>
                            <th>Ações</th>
                            <th>Colocar no carrinho</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% item.forEach(function(produto){%>
                            <tr>
                                <td>
                                    <%= produto.nome_produto %>
                                </td>
                                <td>
                                    <%= produto.quantidade %>
                                </td>
                                <td>
                                    <%= produto.valor_unitario %>
                                </td>
                                <td>
                                    <a href="/editarProduto/<%= produto.id_produto%>" class="btn btn-warning">Editar</a>
                                    <a href="/deletarProduto/<%= produto.id_produto%>"
                                        class="btn btn-danger">Deletar</a>
                                </td>
                                <td class="text-center">

                                    <input type="checkbox" name="<%=produto.nome_produto%>" value="<%=produto.id_produto%>">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-cart-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>

                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <div class="text-right ">
                    <button class="btn btn-primary justify-container" onclick="FinalizarCompra()">Finalizar comprar</button>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/footer')%>